<!-- Wesley, Evan, and Jarred -->

<% content_for :title, "Edit Category" %>

<div class="card">
  <div class="card-header"><i class="bi bi-pencil-square"></i> Edit ToDo</div>
  <div class="card-body">
    <div class="card-group" id="microposts">
      <%= render "form", category: @category %>
    </div>

  </div>
</div>